@import '../../node_modules/nib/index'

$color-title = #1c1c1c
$color-text = #6f7070
$panel-bg = #fbfbfb
$gradient-blue = linear-gradient(top, rgba(145,209,224,1), rgba(156,218,233,1))
$gradient-grey = linear-gradient(top, rgba(241,250,255,1), rgba(221,228,232,1))
.modal-content
  min-width 1100px
  border-radius 0
  box-shadow -2px 3px 6px 0px rgba(0, 0, 0, 0.19)
  padding 15px
  color $color-text
//***training-item-popup******************************************************
.training-item-popup
  .modal-header
    border none
    position relative
    .modal-header-img
      height 188px
      display flex
      align-items center
      padding-left 20px
      background-size cover
      background-position center
      position relative
      &:before
        content ''
        position absolute
        left 0
        width 100%
        height 100%
        background rgba(0,0,0,0.25)
        z-index 0
      .name
        color #fff
        font-size 42px
        padding-left 20px
        font-weight 600
      .name, .avatar
        position relative
        z-index 1
  .modal-body
    border none
    h4
      margin-top 0
      color $color-title
    .panel
      border-radius 0
      box-shadow none
      border-color #e6eaed
      margin-bottom 0
      max-height 386px
      &.panel-default
        background $panel-bg
      .panel-foot
        margin-top 15px
        div
          &:not(:first-child)
            margin-top 10px
          &.title, &.distance
            font-size 18px
          &.date
            font-size 16px
  .modal-footer
    border none
    .btn
      border-radius 30px
      min-width 220px
      border none
      height 39px
      font-size 16px
      &:focus
        outline none
      &.btn-default
        background $gradient-grey
      &.btn-primary
        background $gradient-blue

//*** END training-item-popup*************************************************