//***BOOTSTRAP IMPORTS****************************************************//
// Core variables and mixins
@import "../../node_modules/bootstrap-styl/bootstrap/variables"

//
// Forms
// --------------------------------------------------
$input-border-radius                           = 3px
$input-height-base                             = 37px

//
// Buttons
// --------------------------------------------------
// $btn-border-radius-base                        = 30px
// $btn-primary-border                            = transparent



@import "../../node_modules/bootstrap-styl/bootstrap/mixins"
// Reset and dependencies
@import "../../node_modules/bootstrap-styl/bootstrap/normalize"
@import "../../node_modules/bootstrap-styl/bootstrap/print"
// Core CSS
@import "../../node_modules/bootstrap-styl/bootstrap/scaffolding"
@import "../../node_modules/bootstrap-styl/bootstrap/type"
@import "../../node_modules/bootstrap-styl/bootstrap/code"
@import "../../node_modules/bootstrap-styl/bootstrap/grid"
@import "../../node_modules/bootstrap-styl/bootstrap/tables"
@import "../../node_modules/bootstrap-styl/bootstrap/forms"
@import "../../node_modules/bootstrap-styl/bootstrap/buttons"
// Components
@import "bootstrap/component-animations"
@import "bootstrap/dropdowns"
@import "bootstrap/panels"
@import "bootstrap/close"
// Components w/ JavaScript
@import "bootstrap/modals"
// Utility classes
@import "bootstrap/utilities"
@import "bootstrap/responsive-utilities"
//***END BOOTSTRAP IMPORTS************************************************//

@import 'stylesheet'
@import 'components/modals.styl'
@import 'components/events.styl'

// LOGIN
.login-wrapper
  display flex
  align-items center
  justify-content center
  height 100vh
  .account
    &.login
      min-width 450px
    .input-icon
      height 44px
      line-height 44px
     input.form-control
      height 44px
    .btn
      height 44px

//END LOGIN


// LOADER
.loader
  position absolute
  top 0
  left 0
  height 100vh
  width 100%
  background #ecf1f4
  z-index 99
  display flex
  align-items center
  justify-content center
//END LOADER

.sessions
  .loader
    width calc(100% + 30px)
    margin-left -15px
.tab-content
  position relative
  min-height calc(100vh - 255px)
  .loader
    height 100%
  .text-success
    margin-top 15px
  .text-danger
    margin-bottom 15px
  .file-wrapper
    background #fff
    label
      margin-bottom 0
  input[type="file"]
    display none
    position relative
    z-index 1
  .img-view
    margin-bottom 15px
  .form-group
    position relative
  .pl
    position: absolute;
    top: 0;
    left: 45px;
    bottom: 0;
    margin: auto;
    line-height 34px
    color #928E8E
    z-index 0
.modal
  background: rgba(0, 0, 0, 0.6)
  .text-danger
    margin-top 15px
.input-wrap
  &.block
    display block
.event-item
  cursor pointer
.certif-item
  font-size 16px
  padding 10px
  border-bottom 1px solid #e4eaed
  color #7C8286
  min-height 35px
.btn-more
  margin-right 15px
.btns
  margin-top 30px
.fileName
  margin-bottom 10px
// hide resize button
.fc-time-grid-event
  .fc-resizer
    display: none;
.sessions, .events
  position relative