@import '../../node_modules/nib/index'

//***GLOBAL VARIABLES****************************************************
//color**
$black                                      = #313235
$blue                                       = #81faf3
$gradient-blue = linear-gradient(top, rgba(145,209,224,1), rgba(129,250,243,1))
//custom mixins**
triangle(first, second, borderColor)
  width 0
  height 0
  border-style solid
  border-width first second 0 second
  border-color borderColor transparent transparent transparent
//***GLOBAL VARIABLES****************************************************

body
  background-color #ecf1f4
  font-family 'Open Sans', sans-serif
  min-width 1024px
  .container-fluid
  .container
    max-width 1850px
    min-width 1000px
.training-filter
  width 100%
.trainingBlock
  width 33.33333333333333%
  float left
.training-map-container
  width 66.66666666666666%
  float right
// MODAL ******************************************************************
.vertical-alignment-helper
  display table
  height 100%
  width 100%
.vertical-align-center
  display table-cell
  vertical-align middle
.modal-content
  width inherit
  height inherit
  margin 0 auto
//BUTTONS
.btn
  border transparent
  &:hover
    border transparent
  &:focus
    border transparent
    outline none
    &:active
      border transparent
      outline none
  &.btn-default
    border-color $black
    color $black
    &.active
      background $black
      color #fff
  &.btn-primary
    border transparent
    background linear-gradient(top, #91d1e0 , #81faf3)
    &:hover
      background linear-gradient(top, #81faf3, #91d1e0)
// END MODAL **************************************************************
@media (min-width: 1024px)
  // body
  //   height 100vh
  //   overflow hidden
@media (min-width: 1600px)
  .training-filter, .training-map-container
    width 66.66666666666666%
    float right
  .trainingBlock
    width 33.33333333333333%
    float left
@media (min-width: 1700px)
  .training-filter, .training-map-container
    min-width 1410px
  .trainingBlock
    max-width 410px
.fc-time-grid
  .fc-slats
    tbody
      td
        height 30px !important
.fc
  th
    background linear-gradient(top, #91d1e0 , #81faf3) !important