@import '../../node_modules/nib/index'
@import 'sweatr-variables'
$grad = linear-gradient(to bottom, #77C3D6 0%,rgba(125,185,232,0) 100%)
//***VARIABLES****************************************************//
//***END VARIABLES****************************************************//
.header
  height 90px
  background $gradient-blue
  min-width 1000px
  .header-container
    height 90px
    display flex
    align-items center
  .logo
    flex 1
    img
      width 184px
  .header-menu
    height 90px
    display flex
    .header-menu-item
      width 100px
      height 90px
      font-size 22px
      text-align center
      color #579eaf
      position relative
      display flex
      align-items center
      justify-content center
      a
        color inherit
        &:hover
          color #fff
      &.account
        width 125px
      &:before
        content ''
        height 90px
        width 1px
        background $grad
        position absolute
        left 0
        top 0
      &:after
        content ''
        height 90px
        width 1px
        background $grad
        position absolute
        right 0
        top 0px
    .header-input-wrapper
      width auto
      min-width 100px
      transition 1s
      span
        padding-left 20px
        cursor pointer
  .search-btn
    display block
    cursor pointer
    width 100%
    height 100%
    display flex
    align-items center
    justify-content center
    transition 0.5s
    &:hover
      background  #7BBBCA
      color #fff
  .circle
    width 57px
    height 57px
    border-radius 50%
    background-color #82c6d6
    border 1px solid #7dc2d2
    position relative
    display flex
    align-items center
    justify-content center
    font-size 25px
    cursor pointer
    &:after
      content ''
      position absolute
      bottom 0
      right -15px
      triangle(7px, 6.5px, #59a0b1)
.dropdown-menu
   &:after
    content ''
    position absolute
    top -10px
    right 45px
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 10px 15px;
    border-color: transparent transparent #fff transparent;
.login
  min-width 280px
  padding 20px
  .btn
    text-transform uppercase
    &.fb
      text-transform none
    &.btn-primary
      color #1c1c1c
  .separator
    color #b6bfc5
    text-align center
    overflow hidden
    line-height 40px
    display block
    span
      position relative
      &:before, &:after
        content ''
        position absolute
        top 0
        bottom 0
        margin auto

        width 9999px
        height 1px
        background  #e3eaee
      &:before
        left -10010px
      &:after
        right -10010px
  .login-footer
    margin-top 15px
    text-align center
    text-decoration underline
    cursor pointer
.navbar-right .dropdown-menu
  border none