@font-face {
  font-family: 'sweatr';
  src: url('../fonts/sweatr.eot?18206531');
  src: url('../fonts/sweatr.eot?18206531#iefix') format('embedded-opentype'),
       url('../fonts/sweatr.woff?18206531') format('woff'),
       url('../fonts/sweatr.ttf?18206531') format('truetype'),
       url('../fonts/sweatr.svg?18206531#sweatr') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'sweatr';
    src: url('../font/sweatr.svg?18206531#sweatr') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "sweatr";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-clock:before { content: '\e800'; } /* '' */
.icon-drop:before { content: '\e801'; } /* '' */
.icon-marker:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-sneakers:before { content: '\e804'; } /* '' */
.icon-adress:before { content: '\e805'; } /* '' */
.icon-description:before { content: '\e806'; } /* '' */
.icon-email:before { content: '\e807'; } /* '' */
.icon-settings:before { content: '\e808'; } /* '' */
.icon-telephone:before { content: '\e809'; } /* '' */
.icon-user:before { content: '\e80a'; } /* '' */
.icon-website:before { content: '\e80b'; } /* '' */
.icon-twitter:before { content: '\e80c'; } /* '' */
.icon-facebook:before { content: '\e80d'; } /* '' */
.icon-instagram:before { content: '\e80e'; } /* '' */
.icon-lock-filled:before { content: '\e80f'; } /* '' */
.icon-dollar:before { content: '\e810'; } /* '' */
.icon-logout:before { content: '\e812'; } /* '' */
.icon-download:before { content: '\e813'; } /* '' */
.icon-picture:before { content: '\e814'; } /* '' */
.icon-map:before { content: '\e815'; } /* '' */