@import '../../node_modules/nib/index'
//***GLOBAL VARIABLES****************************************************
//color**
$gradient-blue = linear-gradient(top, rgba(145,209,224,1), rgba(129,250,243,1))
//custom mixins**
triangle(first, second, borderColor)
  width 0
  height 0
  border-style solid
  border-width first second 0 second
  border-color borderColor transparent transparent transparent
//***GLOBAL VARIABLES****************************************************

