//
// VARIABLES
// --------------------------------------------------
$black                                      = #313235
$blue                                       = #579eaf
$grey                                       = #d6dcdf
$border-color                               = #e3eaee
$icon-color                                 = #adbac1
//
// STYLES
// --------------------------------------------------
//general*
.account
  .form-group
    display flex
    margin-bottom 10px
  .form-control
    border-radius 3px
    box-shadow none
    border-color $border-color
    transition .25s
    resize vertical
    &:focus
      box-shadow none
      border-color #e3eaee
  input.form-control
    height 34px
    margin-left -1px
  .input-icon
    width 40px
    height 34px
    line-height 34px
    background $grey
    color $icon-color
    text-align center
    cursor pointer
    position relative
//end general*

// start account-navigation**
.account-navigation
  background $black
  text-align center
  ul
    display inline-block
    margin-bottom 0
    li
      a
        display block
        padding 18px 50px
        position relative
        font-size 12px
        font-weight 600
        text-transform uppercase
        text-decoration none
        border-top 3px solid transparent
        color $blue
        transition 0.25s
        &.active
          border-top 3px solid #ecf1f4
          &:after
            content ''
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 15px 8px 15px;
            border-color: transparent transparent #ffffff transparent;
            position absolute
            bottom 0
            right 0
            left 0
            margin auto
        &:hover
          color #fff
        span
          display block
        i
          font-size 25px
          margin-bottom 10px
// end account-navigation**

// start account-tab-menu**
.account-tab-menu
  padding 20px 0
  background #fff
  .tab-menu-container
    // max-width 750px
    margin 0 auto
  ul
    margin 0
    display flex
    justify-content space-around
    // max-width 750px
  .btn
    min-width 155px
// end account-tab-menu**

.account-content
  .btn
    min-width 165px
    color $black
    text-transform uppercase
    &:focus
      outline none
.description-layer
  margin 15px 0 30px
  label
    color #a9adb0
    font-weight 400
    font-size 16px
    i
      margin-right 5px
.tab-content
  padding 30px 0
.cover-desc
  margin-bottom 15px

//
// MEDIA
// --------------------------------------------------