.events
	.container
		background #fff
		min-height calc(100vh - 90px - 96px)
	.add-event
		margin-top 45px
		background #fbfbfc
		font-size 48px
		color #e4eaed
		text-align center
		border 1px dashed #e4eaed
		line-height 70px
		cursor pointer
	.events-list
		font-size 16px
		line-height 35px
		color #1c1c1c
		text-align center
		padding-bottom 30px
		.row
			background #97d6e5
			margin 15px 0 0
			border-radius 2px
			min-height 70px
			display flex
			align-items center
		.name
			text-align left
			padding-left 25px
		.price
			span
				min-width 65px
				padding 5px 10px
				background #85cadb
				text-align center
				border-radius 2px
