.modal-dialog
	width 615px
.modal-backdrop
	background none
.modal-content
	border-color #fbfbfb
	border-radius 4px
	padding 0 30px 30px
	box-shadow 4px 4px 6px rgba(0, 0, 0, 0.19)
.modal-header
	border-bottom none
	padding 24px
.modal-body
	background #ecf1f4
	padding 25px 30px
.modal-title
	color #9cdae9
	text-transform uppercase
	text-align center
	font-size 18px
	line-heigth 35px
	font-weight 600
.modal
	color #969fa4
	button
		&.close
			top 15px
			right 15px
			position absolute
	.form-control
		font-size 16px
		line-heigth 35px
		padding 5px 10px
		margin-bottom 10px
		color #000
		heigth auto
	input
		&.form-control
			color #000
	.duration
	.price
		margin-bottom 30px
		.form-control
			display inline-block
			margin-left 10px
			margin-bottom 0
	.duration
		.form-control
			width 70px
		span
			padding 0 3px
	.price
		padding-left 0
		text-align right
		.form-control
			width 78px
			margin-left 0
		span
			font-size 16px
			padding 0px 10px 0px 9px
	.date
		margin-bottom 22px
		#day
			// margin-right 25px
			// margin-left 7px
			width 72px
		#month
			width 113px
			margin-left 25px
		.form-control
			margin-bottom 0
	.time
		margin-bottom 22px
		text-align right
		padding-left 0
		.form-control
			margin-bottom 0
			width 65px
			display inline-block
		span
			padding-left 10px
	.input-wrap
		position relative
		display inline-block
		border-radius 2px
		// overflow hidden
	.change-quantity
		position absolute
		width 22px
		height 17px
		background #96d5e4
		display block
		right 1px
		cursor pointer
		z-index 10
		&:before
			content ""
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			margin auto
			width 0
			height 0
		&.plus
			top 1px
			border-bottom 1px solid #a9deeb
			&:before
				border-style solid
				border-width 0 5px 5px 5px
				border-color transparent transparent #599fb1
		&.minus
			bottom 1px
			&:before
				border-style solid
				border-width 5px 5px 0 5px
				border-color #599fb1 transparent transparent
	.description
		margin-bottom 20px
		label
			padding-bottom 5px
		.form-control
			resize none
			height 138px
			width 100%
		i
			margin-right 5px
	label
		color #969fa4
		font-size 15px
		line-heigth 35px
		font-weight normal
		padding 0 7px 0 4px
		margin-bottom 0
	.btn-primary
		color #000
		border-radius 15px
		border-color #91cfde
		background linear-gradient(to bottom, #91d1e0 0%, #9cdae9 100%)
		min-width 143px
.modal
	.create-new-event
		.duration
		.price
			margin-bottom 15px
	.type
	.label
		.input-wrap
			display block
@media (max-width: 768px)
	.modal-dialog
		width auto
	.modal
		.price
			padding-left 15px
			text-align left
		.duration
		.price
			.form-control
				margin-left 0
		.duration
		.date
			label
				width 100%
		.date
			.day
				margin-left 0
		.time
			text-align left
			padding-left 15px
@media (min-width: 768px)
	.create-new-event
		.row
			display flex
			align-items center
	.modal
		.date
			display flex
			align-items center
input[type=number]::-webkit-inner-spin-button
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance none
	margin 0
input[type=number]
	-moz-appearance textfield