@import '../../../node_modules/nib/index'

$black                                      = #313235
$blue                                       = #81faf3
$beige                                      = #fafafa
.sessions
  .container
    background #fff

.fc-event
.create-event
  cursor pointer
  text-align center
  background $black
  border-radius 3px
  display flex
  display inline-block
  border transparent
.create-event
  background #fbfbfc
  color #e4eaed
  font-size 48px
  border 1px dashed #e4eaed
  line-height 175px
  width 165px
  height 165px
  position absolute
  top 20px
  right 0
  display block
  // margin-left 10px
.external-events-wrap
  padding 20px 0
  position relative
  .external-events
    width calc(100% - 180px)
    padding 0
    background transparent
    border none
    white-space nowrap
    overflow-x scroll
    height 190px
    .fc-event
      cursor pointer
      width 165px
      min-height 165px
      text-align center
      background $black
      border-radius 3px
      border transparent
      margin-right 15px
      padding-top 15px
      vertical-align top
      &.ui-draggable-dragging
        .title
          margin-bottom 5px
        .place
          display block
        .duration
        .btn
          display none
      .title
        color #fff
        font-size 18px
        margin-bottom 20px
        font-weight 600
        padding 0 10px
        white-space normal
      .place
        display none
      .duration
        font-size 16px
        margin-bottom 20px
        font-weight 600
      .btn
        font-size 18px
        color #fff
        padding 3px 17px
        min-width auto
.fc-event-container
  .fc-event
    .duration, .btn
      display none
    .fc-bg
      background transparent
      opacity 1

.calendar
  padding 30px 0
.fc-time-grid .fc-slats td, .fc th
  height 50px
  vertical-align middle
.fc th
  background linear-gradient(top, #91d1e0, #9cdae9)
  border-color #A9C6CE
  color #fff
  font-weight 400
  text-transform uppercase
.fc-ltr .fc-axis
  background transparent
.fc-divider
  display none !important
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover
  border-color #e3eaee
.fc-time-grid .fc-slats td:first-child
  background $beige
  text-align center
  color #9cdae9
.fc-unthemed
  th
    border-color #8acada
.fc
  .fc-axis
    padding 0 47px