//VARIABLES*
@import '../../../node_modules/nib/index'
@import '../sweatr-variables'
//color**
$btn-color--default                              = #D0D1D2
$btn-color--active                               = #6C6D6D
//bg**
$btn-bgc--active                                 = #94d3e3
//border**
$btn-borderRadius                               = 30px
//STYLES*



//TrainingSwitch**
.trainingSwitch
  padding 20px
  background-color #fff
  border 1px solid #e6eaed
  border-bottom none
  .btn
    padding 7px 12px
    border-radius $btn-borderRadius
    text-transform uppercase
    &.btn-default
      background rgb(241,250,255)
      background -moz-linear-gradient(top, rgba(241,250,255,1) 0%, rgba(221,228,232,1) 100%)
      background -webkit-linear-gradient(top, rgba(241,250,255,1) 0%,rgba(221,228,232,1) 100%)
      background linear-gradient(to bottom, rgba(241,250,255,1) 0%,rgba(221,228,232,1) 100%)
      color $btn-color--default
      border-color $btn-color--default
      &.active
        background linear-gradient(top, rgba(241,250,255,1), rgba(221,228,232,1))
        color $btn-color--active
        border-color $btn-color--active
        box-shadow none
      &.current
        border-color transparent
        background #94d3e3
        color #fff
        &:before
          content ''
          position absolute
          bottom -10px
          left 0
          right 0
          margin auto
          width 0
          height 0
          border-style solid
          border-width 10px 9.5px 0 9.5px
          border-color #94d3e3 transparent transparent transparent
      &:focus
        outline none
// END TrainingSwitch**

//TrainingList**
.trainingList
  max-height calc(100vh - 166px)
  overflow auto
.modal-content
  .trainingList
    max-height 386px
    overflow auto
//END TrainingList**


//TrainingItem**
.trainingItem
  padding 10px 15px
  background-color #fbfbfb
  display flex
  align-items center
  cursor pointer
  border 1px solid #e6eaed
  border-top none
  &:first-child
    border-top 1px solid #e6eaed
  &.current
    background-color $btn-bgc--active
    color #fff
    .description .title, .distance
      color #fff
  &.no-active
    opacity 0.3
  .flex-item
    flex 1
  .description
    flex 2
  .distance
    text-align right
  .date
    .times
      text-transform lowercase
.modal
  .date
    padding 5px 0
//END TrainingItem**

//TrainingFilter**
.training-filter
  height 76px
  display flex
  align-items center
  .flex-item
    flex 1
    position relative
    &:not(:first-child)
      margin-left 10px
  .filter-item
    background-color #fff
    border 1px solid #e2e6e9
    border-radius 30px
    padding 0 12px
    height 37px
    position relative
    &.filter-select
      max-width 290px
      select
        -webkit-appearance none
        -moz-appearance none
        appearance none
        position relative
        z-index 1
      &:after
        content ''
        position: absolute
        top 4px
        bottom 0
        margin auto
        right 21px
        margin auto
        triangle(7px, 6.5px, #59a0b1 )
        z-index 0
    i
      font-size 22px
      color #7cb3c0
      position absolute
      left 9px
      top 2px
    .form-control
      height 37px
      padding 0 0 0 32px
      background none
      border none
      box-shadow none
      font-size 16px
  .filter-checkbox
    display flex
    justify-content space-around
    input[type="checkbox"]
      display none
    input[type="checkbox"] + label
      margin 0
      font-size 8px
      text-align center
      line-height 30px
      text-transform uppercase
    input[type="checkbox"] + label span
      display inline-block
      width 30px
      height 30px
      margin -1px 4px 0 0
      vertical-align middle
      cursor pointer
      border-radius  50%
    input[type="checkbox"] + label span
      background-color #fff
      border 1px solid #e2e6e9
      color #000
    input[type="checkbox"]:checked + label span
      background-color #82c6d6
      color #fff
//Range SLider***
.slider.slider-horizontal
  width 100%
  .slider-track
    height 6px
    margin-top 0
    box-shadow none
    border 1px solid #e1e4e6
    top 100%
  .slider-selection
    background #b4bec3
    box-shadow none
  .slider-handle
    background #82c6d6
    width 25px
    height 25px
    margin-top -11px
    &:before
      content ''
      width 19px
      height 19px
      border-radius 50%
      border 1px solid #b5e6f1
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      margin auto
.time
  position absolute
  top -15px
  font-size 12px
  font-weight bold
  color #1c1c1c
  &.time-prev
    left 0
  &.time-next
    right 0
//END Range SLider***
//END TrainingFilter**

//TrainingMap**
.training-map
  position relative
  &.large-map
    min-height calc(100vh - 166px)
  &.small-map
    height 210px
  .map
    width 100%
    height 100%
    position absolute
//END TrainingMap*

//leaflet custom**
.sweatr-map-popup
  .leaflet-popup-content-wrapper, .leaflet-popup-tip
    background-color #fff
  .leaflet-popup-content-wrapper
    color #1c1c1c
    border-radius 30px
    box-shadow: 0 3px 14px rgba(0,0,0,0.5);
    .leaflet-popup-content
      margin 5px
      p
        margin 0
  .popup-container
    display flex
    align-items center
    .popup-content
      padding 0 15px
      font-size 14px
    .title
      font-size 16px
      font-weight bold
      text-transform capitalize
//END leaflet custom**








@media (min-width: 1600px)
  .training-filter
    padding 0 15px
    .flex-item-large
      flex 1.5
@media (max-width: 1599px)
  .trainingList
    max-height calc(100vh - 242px)